* {
    margin: 0;
}


body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 1300px 600px;
}

.header-banner {
    padding: 150px 100px 300px 800px;

}

.header-title {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    text-align: right;
    color: #FFFFFF;
    text-align: left;
}

.header-description {
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    padding: 20px 30px;
    color: #005FAC;
    font-weight: 600;
    font-size: 15px;
}

/* main section */


/* previous section */

.previous {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 100px 240px 100px 190px;
    text-align: left;
}

.previous-img {
    width: 420px;
    height: 523.3px;
}

.previous-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 20px;
}

.previous-description {
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #444343
}

.previous-banner li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

/* my-plans-section */

.plans-container {
    padding: 50px 100px 100px 100px;
}

.my-plans-heading {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;
    padding-bottom: 0;
}

.my-plans {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plan-img {
    margin-bottom: 20px;
    width: 92.96px;
    height: 92.96px;
}

.plan-title {
    font-weight: 700;
    font-size: 20px;
    color: #151414;
    padding-bottom: 20px;
}

.plan-subtitle {
    font-weight: 500;
    font-size: 20px;
    color: #737272;
}


/* background-section */

.background {
    text-align: left;
    padding: 130px 130px;
    margin: 0px 100px;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.background-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-bottom: 30px;
    padding-right: 50px;
}

/* footer start */

footer {
    display: flex;
    background: #151414;
    padding: 130px 230px;
    gap: 200px;
}

.future {
    color: #F8F8F8;
}

.future-title {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.future-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.future img {
    margin: 6px;
}

.future .img img {
    padding-top: 30px;
    width: 26px;
    height: 26px;
}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

input {
    padding: 20px 50px 20px 20px;
    background-color: #151414;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

input:focus {
    color: #FFFFFF;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #005FAC;
    border: 0;
    border-radius: 5px;
}