body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 1300px 600px;
}

.header-banner {
    padding: 200px 100px 300px 800px;

}

.header-title {
    font-weight: 700;
    font-size: 25px;
    text-align: right;
    color: #FFFFFF;
    text-align: right;
}

.header-description {
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #FFFFFF;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    padding: 20px 30px;
    color: #005FAC;
    position: absolute;
    text-align: right;
    font-weight: 600;
    font-size: 15px;
}

/* main section */


/* previous section */

.previous {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 100px 140px 100px 190px;
    text-align: left;
}

.previous-img {
    width: 420px;
    height: 523.3px;
}